body {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: #cecece;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 5px auto;
}

.game-container {
    overflow: hidden;
}

a{
    display: flex;
    color: #727272;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #474747;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    margin-top: 10px;
}

.grid-cell {
    width: auto;
    height: 90px;
    background-color: #474747;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    font-weight: bold;
}

.game-over {
    display: none;
    margin-top: 20px;
}

button {
    padding: 10px 80px;
    background-color: #ffffff;
    color: #352f3d;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

button:hover{
    background-color: #58525f;
    color: white;
    border: none;
}

p{
    color: #474747;
}

/* responsive para celular */
@media (max-width: 768px) {
    h1{
        margin-top: 20%;
    }
    .container {
        max-width: auto;

    }
}